*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: century gothic;
    list-style: none;

}
hr
{
    background-color: #000030;
    width: 20pc;
    height: 5px;
    border: none;
    display: inline-flex;
    border-radius: 200pc;
    filter: drop-shadow(5px 5px 7px #00003060);
    transition: .7s;
}
hr:hover
{
    width: 40pc;
}
.gla ssy
{
    background-color: #ffffffee;
    backdrop-filter: brightness(2) blur(10px);
    filter: drop-shadow(10px 10px 10px #001aff28);
    border-radius: 30px;
    filter: drop-shadow(10px 10px 10px #00074134);
}
body  
{
    position: relative;
    background-image: linear-gradient(320deg, #000030 0%, #ff7c7c 100%);
    background-image: linear-gradient(320deg, #1f4037 0%, #99f2c8 100%);
    height: 100%;
    width: 100%;
}
nav
{
    margin-top: -6pc;
}
nav ul
{
    display: flex;
    justify-content: flex-end;
    
}
nav ul li
{
    margin-right: 40px;
    filter: drop-shadow(5px 5px 7px #000c7742);
    font-weight: bold;
}
a
{
    color: #ddd;
    text-decoration: none;
}
#logo
{
    margin: 1.5pc;
    scale: .9;
    filter: drop-shadow(7px 5px 10px #000c7730);
    
    /*filter: drop-shadow(7px 5px 7px #000c7745);*/
}
.sicon
{
    width: 20px;
    height: 20px;
    margin: 10pc;
    z-index: 1;
}
#search
{
    resize: none;
    height: 100%;
    grid-area: content;
    overflow: hidden;
    padding: 0;
    max-height: 22px;
    white-space: nowrap;

    flex-wrap: nowrap;   
    padding: 1pc .7pc;
    margin-top: 4pc;
    margin-bottom: -2pc;
    border-radius: 0px;
    border: none;
    filter: drop-shadow(10px 10px 10px #00003062);
    font-weight: bolder;
    font-size: x-large;
}
main
{
    background-color: #ffffff79;
    border: 2px solid #ffffff28;
    color: #000030;
    margin: 7pc; 
    border-radius: 50px;
    margin-bottom: 2pc;
    margin-top: 4pc;
    text-align: center;
    filter: drop-shadow(10px 10px 10px #00074628);
}
main h1
{
    text-decoration: underline;
    font-size: 2em;
    text-shadow: 5px 5px 10px #00003062;
    font-weight: bold;
}
/*
#promotion
{
    padding-bottom: 1pc;
    margin: 5pc;
    margin-top: 1pc;
    margin-bottom: 2pc;
}
#promotion img
{
    transition: .7s;
}
#promotion img:hover
{
    transform: scale3d(1.17, 1.17, 1.17);
}
#promotion #model
{
    margin: 2pc;
    padding: 3pc;
    background-color: #fffefeee;
    border-radius: 200%;
    text-align: center;
    filter: drop-shadow(10px 10px 10px #00074628);
    margin-bottom: 1pc;
}
#promotion h3
{
    font-size: xx-large;
    color: #2cff9d; 
    text-shadow: 5px 5px 7px #2cff2c42;
    filter: brightness(1.5);
    color: #007c7c;
    text-shadow: 5px 5px 7px #007c7c42;
}
#promotion h3 span
{
    text-decoration:line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: #ff6464;
    color: #ff7c7c;
    filter: brightness(.6);
    text-shadow: 5px 5px 7px #ff2c2c42;
    font-size: large;
}
.bt
{
    text-align: center;
    margin-left: 28px;
}
#promotion button
{
    margin-right: 2pc;
}
#promotion #plus
{
    filter: drop-shadow(5px 0px 7px #00074632);
    filter: drop-shadow(5px 0px 7px #001aff32);
    margin-right: 28pc;
}
#promotion #plus:hover
{
    transform: translateX(-10px);
}
#promotion #mo
{
    filter: drop-shadow(-5px 0px 7px #00074632);
}
#promotion #mo:hover
{
    transform: translateX(10px);
}
*/
#products
{
    margin: 2pc;
    padding: 0pc;
}
#products ul
{
    margin: 1pc;
    display: flex;
}
#products ul li
{
    margin: .7pc;
    padding: 2pc;
    background-color: #fffefeee;
    border-radius: 20px;
    text-align: center;
    filter: drop-shadow(10px 10px 10px #00074628);

}
#products ul li img
{
    width: 100%;
    height: 70%;
    /*
    padding: 5px;
    background-color: #fffefeee;*/
    border-radius: 20px;
    text-align: center;
    filter: drop-shadow(10px 10px 10px #00074628);
    transition: .7s;
}
#products ul li img:h over
{
    transform: scale3d(1.3, 1.3, 1.3);
}
#products ul li h2
{
    text-shadow: 5px 5px 7px #00003042;
}
#products ul li p
{
    font-weight: bold;
    color: #007c7c;
    text-shadow: 5px 5px 7px #007c7c42;
}
button
{
    background: linear-gradient(90deg, #ff4444, #e60b0b);
    filter: drop-shadow(5px 5px 10px #ff000060);
    border: none;
    margin: 2px;
    margin-top: 10px;
    padding: 11px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: .7s;
}
button:hover
{
    background: linear-gradient(90deg, #44ffff, #0be6e6);
    filter: drop-shadow(5px 5px 20px #00ffff);
    color: #000030;
}
footer
{
    font-weight: bold;
    color: #ddd;
    text-align: center;
    margin: 1pc;
    filter: drop-shadow(5px 5px 7px #00003060);
}